@import url(main.css);

.banner {
    display: flex;
    padding: 50px 100px 25px 25px;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 100px;
}

.banner h1 {
font-weight: 700;
font-size: 60px;
line-height: 69px;
color: #FF4081;
}

.banner h2 {
font-weight: 400;
font-size: 27px;
line-height: 31px;
color: #555555;
padding: 20px 0px 20px;
}

.banner button {
    border: 2px solid #FF4081;
    box-sizing: border-box;
    border-radius: 62px;
    background-color: #FDFDFD;
    padding: 5px 5px 5px 5px;
}

.banner button a {
    padding: 20px 10px 20px 10px;
    text-decoration: none;
    color: #FF4081;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
}

.meio {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background: #F7F7F7;
    
    
}

.meio img {
    height: 270px;
    object-fit:contain;
    margin-top: 50px;
    
}

.meio h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #FF4081;
    margin: 25px 0px 25px 0px;
}

.meio p {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #000;
    margin: 25px;
}

.meio button {
    background: #FF4081;
    border-radius: 60px;
    padding: 5px 5px 5px 5px;
    border: 2px solid #FF4081;
    margin-bottom: 20%;
}

.meio button a {
    padding: 20px 10px 20px 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    
}

.título-conteudo {
    display: flex;
    padding: 7.5% 15% 5% 15%;
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
    color: #009688;
    text-transform: uppercase;
}

.sobre-nos {
    margin-bottom: 5%;
}
.sobre-nos .depoimentos {
    display: inline-flex;
    margin-left: 15%;
    align-items: center;

}

.depoimentos p {
    align-items: center;
    padding: 50px 128px 50px 100px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}

.baixo {
    background-color: #E5E5E5;
}
.baixo .conteudo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2.5%;
    margin-left: 5%;
}

.baixo h2 {
    color: #009688
}

.baixo p {
    font-weight: 400;
    font-size: 19px;
    line-height: 31px;
}

.baixo #btn-ver-posts {
    margin-left: 50%;
    
    
}
.baixo div button {
    border: 2px solid #FF4081;
    border-radius: 62px;
    background-color: #E5E5E5;
    padding: 5px 5px 5px 5px; 
    margin-bottom: 5%;
    margin-left: -10%;
}

.baixo button a {
    text-decoration: none;
    color: #FF4081;
    font-weight: 400;
    font-size: 27px;
    line-height: 31px;
    padding: 20px 10px 20px 10px;

}

@media  screen and (max-width:480px) {

    .banner {
        display: grid;
        grid-template-columns: 150px 150px;
        margin: 5% 0% 5% 0%;
        padding: 0px 0px 0px 0px;
    } 
        .banner h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 39px;
        color: #FF4081;
        }
        
        .banner h2 {
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #555555;
        padding: 10px 0px 10px;
        }
        
        .banner button {
            border: 2px solid #FF4081;
            box-sizing: border-box;
            border-radius: 62px;
            background-color: #FDFDFD;
            padding: 5px 5px 5px 5px;
        }
        
        .banner button a {
            padding: 20px 10px 20px 10px;
            text-decoration: none;
            color: #FF4081;
            font-weight: 400;
            font-size: 17px;
            line-height: 20px;
        }

        .banner img {
            width: 100%;
        }

        .meio {
            display: grid;
        }
        .meio img {
            height: 200px;
            object-fit:contain;
            margin-top: 30px;
            
        }
        
        .meio h2 {
            font-weight: 700;
            font-size: 22px;
            line-height: 20px;
            color: #FF4081;
            margin: 25px 0px 25px 0px;
        }
        
        .meio p {
            font-weight: 300;
            font-size: 14px;
            line-height: 15px;
            color: #000;
            margin: 25px;
        }
        
        .meio button {
            background: #FF4081;
            border-radius: 60px;
            padding: 5px 5px 5px 5px;
            border: 2px solid #FF4081;
            margin-bottom: 20%;
        }
        
        .meio button a {
            padding: 20px 10px 20px 10px;
            text-decoration: none;
            color: #FFFFFF;
            font-weight: 400;
            font-size: 13px;
            line-height: 31px;
            
        }
        .título-conteudo {
            font-weight: 700;
            font-size: 25px;
            line-height: 40px;
            color: #009688;
            text-transform: uppercase;
        }

        .sobre-nos .depoimentos {
            display: grid;
            grid-template-columns: 50px 300px;
        
        }

        .depoimentos img {
        width: 80px;
        }
        .depoimentos p {
            align-items: center;
            padding: 30px 20px 0px 50px;
            font-size: 12px;
        }

        .baixo .conteudo {
            display: grid;
        
        }

        .baixo #btn-ver-posts {
            margin-left: 30%;
            
            
        }
        .baixo div button {
           
            margin-bottom: 5%;
            margin-left: 0%;
        }
        
        .baixo button a {
            text-decoration: none;
            color: #FF4081;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            padding: 20px 10px 20px 10px;
        
        }
}

@media (min-width:481px) and (max-width: 840px) {
    .banner {
        display: grid;
        grid-template-columns: 250px 250px;
        margin: 5% 0% 5% 0%;
        padding: 0px 0px 0px 0px;
    }
    .banner h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 39px;
        color: #FF4081;
        }
        
        .banner h2 {
        font-weight: 400;
        font-size: 17px;
        line-height: 20px;
        color: #555555;
        padding: 10px 0px 10px;
        }
        
        .banner button {
            border: 2px solid #FF4081;
            box-sizing: border-box;
            border-radius: 62px;
            background-color: #FDFDFD;
            padding: 5px 5px 5px 5px;
        }
        
        .banner button a {
            padding: 20px 10px 20px 10px;
            text-decoration: none;
            color: #FF4081;
            font-weight: 400;
            font-size: 17px;
            line-height: 20px;
        }

        .banner img {
            width: 100%;
        }

        .meio {
            align-items: center;
        }
        .meio img {
            width: 200px;
            height: 140px;
            margin-top: 30px;
            object-fit: contain;
            
        }
        
        .meio h2 {
            font-weight: 700;
            font-size: 22px;
            line-height: 20px;
            color: #FF4081;
            margin: 25px 0px 25px 0px;
        
        }
        
        .meio p {
            font-weight: 300;
            font-size: 14px;
            line-height: 15px;
            color: #000;
            margin: 25px;
        
        }
        
        .meio button {
            background: #FF4081;
            border-radius: 60px;
            padding: 5px 5px 5px 5px;
            border: 2px solid #FF4081;
            margin-bottom: 20%;
        }
        
        .meio button a {
            padding: 20px 10px 20px 10px;
            text-decoration: none;
            color: #FFFFFF;
            font-weight: 400;
            font-size: 13px;
            line-height: 31px;
            
        }
        .título-conteudo {
            font-weight: 700;
            font-size: 25px;
            line-height: 40px;
            color: #009688;
            text-transform: uppercase;
        }

        .sobre-nos .depoimentos {
            display: grid;
            grid-template-columns: 100px 500px;
        
        }

        .depoimentos img {
            width: 100%;
        }
        .depoimentos p {
            align-items: center;
            padding: 50px 28px 0px 70px;
            font-size: 18px;
        }

        .baixo .conteudo {
            display: grid;
            grid-template-columns: 250px 250px 250px;
        
        }

        .baixo h2 {
            font-size: 22px
        }
        
        .baixo .conteudo img {
            width: 150px !important;
        }
        .baixo p {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            padding: 0px 5% 0px 0%;
        }

        .baixo #btn-ver-posts {
            margin-left: 40%;
            
            
        }
        .baixo div button {
           
            margin-bottom: 5%;
            margin-left: 0%;
        }
        
        .baixo button a {
            text-decoration: none;
            color: #FF4081;
            font-weight: 400;
            font-size: 18px;
            line-height: 20px;
            padding: 20px 10px 20px 10px;
        
        }

}
